Repository dynamisk-webb/Gold-Digger, pull requests merged in 2023-04, with the labels that each got.

#2 Merge API tests with Main
  README.md
  gold-digger/public/favicon.ico
  gold-digger/src/App.js
  gold-digger/src/DiggerModel.js
  gold-digger/src/authentication.js
  gold-digger/src/presenters/loginPresenter.js
  gold-digger/src/resolvePromise.js
  gold-digger/src/spotifySource.js
  gold-digger/src/test/loggedInTestPresenter.js
  gold-digger/src/test/loggedInTestView.js
  gold-digger/src/test/testView.js
  gold-digger/src/views/NoPage.js
Labels: documentation, enhancement, model

#26 Init firebase and login
  gold-digger/src/App.js
  gold-digger/src/DiggerModel.js
  gold-digger/src/authentication.js
  gold-digger/src/firebaseModel.js
  gold-digger/src/presenters/homePresenter.js
  gold-digger/src/presenters/loginPresenter.js
  gold-digger/src/resolvePromise.js
  gold-digger/src/spotifySource.js
  gold-digger/src/test/loggedInTestPresenter.js
Labels: enhancement, firebase

#30 Fix App.js and reset parameters
  README.md
  gold-digger/src/App.js
  gold-digger/src/DiggerModel.js
  gold-digger/src/presenters/genrePresenter.js
  gold-digger/src/spotifySource.js
  gold-digger/src/views/audioPlayView.js
  gold-digger/src/views/audioPlayView.jsx
Labels: bug

#40 Implement audioplayer
  gold-digger/package-lock.json
  gold-digger/package.json
  gold-digger/src/App.js
  gold-digger/src/authentication.js
  gold-digger/src/presenters/loadingPresenter.js
  gold-digger/src/spotifySource.js
  gold-digger/src/views/audioPlayView.js
  gold-digger/src/views/audioPlayView.jsx
  gold-digger/src/views/filterView.js
  gold-digger/src/views/layoutView.js
Labels: enhancement, view, api
